.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.table_data {
  display: flex;
  align-items: center;
  height: 100%;
}
.Tabeleczka {
  display: flex;
  align-items: flex-start;
  margin: 0;
}
.logout {
  color: #f7924a;
  text-decoration: none;
}
.logout:hover {
  color: #edc2a2;
}

.App-link {
  color: #61dafb;
}

.offscreen {
  position: absolute;
  left: -9999px;
}
.footer {
  background-color: #ccc;
  height: 4vh;
  text-align: center;
}
.main-content {
  flex: 1;
}
